mixin tariff-region-table(obj)
	+b.TABLE.tariff-region-table&attributes(attributes)
		caption 
			h2 #{obj.caption}
		tr
			th
				th до 150км от МКАД
				th более 150км от МКАД
		tr
			td.district-name #{obj.distr[0]}
			td #{obj.priceToAirport[0]} 
				span &#8381;/км
			td #{obj.priceFromAirport[0]} 
				span &#8381;/км
		tr
			td.district-name #{obj.distr[1]}
			td #{obj.priceToAirport[1]} 
				span &#8381;/км
			td #{obj.priceFromAirport[1]} 
				span &#8381;/км
		tr
			td.district-name #{obj.distr[2]}
			td #{obj.priceToAirport[2]} 
				span &#8381;/км
			td #{obj.priceFromAirport[2]} 
				span &#8381;/км
		tr
			td.district-name #{obj.distr[3]}
			td #{obj.priceToAirport[3]} 
				span &#8381;/км
			td #{obj.priceFromAirport[3]} 
				span &#8381;/км
		tr
			td.district-name #{obj.distr[4]}
			td #{obj.priceToAirport[4]} 
				span &#8381;/км
			td #{obj.priceFromAirport[4]} 
				span &#8381;/км
		tr
			td.district-name #{obj.distr[5]}
			td #{obj.priceToAirport[5]} 
				span &#8381;/км
			td #{obj.priceFromAirport[5]} 
				span &#8381;/км
		tr
			td.district-name #{obj.distr[6]}
			td #{obj.priceToAirport[6]} 
				span &#8381;/км
			td #{obj.priceFromAirport[6]} 
				span &#8381;/км
